<!-- <!DOCTYPE html>
<html lang="en">
<head> -->
<!-- <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<title>Edit User</title>
</head>

<body>
  <%- include('header') -%>
    <div class="container capitalize">
      <h3>
        <%=data.message%>
      </h3>
      <br>
      <br>


      <img class="circular--square" src="/acsj.png" />
      <br>
      <br>
      <% for (const [key,value] of Object.entries(data)) {%>
        <% if (key==="photo" ) {%>
          <img class="circular--square" src="<%=data.photo%>" />
          <%}%>

            <% if ((key==="name" ) || (key==="email" ) || (key==="phone" )) {%>
              <ul>
                <h6>
                  <%=key%>
                </h6>
                <p class="text-muted">
                  <%=value%>
                </p>
              </ul>
              <%}%>

                <% if (key==="created_on" ) {%>
                  <ul>
                    <h6>
                      <%='Member since' %>
                    </h6>
                    <p class="text-muted">
                      <%=value.toString().substring(0,15)%>
                    </p>
                  </ul>
                  <%}%>
                    <%}%>

                      <br>
                      <br>

                <div class="col-sm-1">
                  <% let update_id=`update ${data.id}` %>
                    <form action="/<%=data.id%>/edit_Profile" method="GET">
                      <input type="submit" value="Update" <%=id=update_id %>/>
                    </form>
                </div>
                  

    </div>
</body>

</html>