<!-- <!DOCTYPE html>
<html lang="en">
<head> -->
<!-- <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<title>Show uniforms</title>
</head>

<body>
  <%- include('header') -%>

    <div class="p-5 col-sm-11 text-secondary center text-right">
      <div class="dropdown">
        <button class="p-3 btn btn-grad dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Arrange By
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="http://localhost:3004/my_donations-sortby/date/asc">Date (Earliest)</a>
          </li>
          <li><a class="dropdown-item" href="http://localhost:3004/my_donations-sortby/date/desc">Date (Latest)</a></li>
          <li><a class="dropdown-item" href="http://localhost:3004/my_donations-sortby/type/asc">Type (A-Z)</a></li>
          <li><a class="dropdown-item" href="http://localhost:3004/my_donations-sortby/type/desc">Type (Z-A)</a></li>
          <li><a class="dropdown-item" href="http://localhost:3004/my_donations-sortby/quantity/asc">Quantity(Asc)</a>
          </li>
          <li><a class="dropdown-item" href="http://localhost:3004/my_donations-sortby/quantity/desc">Quantity
              (Desc)</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="center">
      <div class="row justify-content-sm-center">

        <div class="col-sm-8" style="padding-bottom: 30px;">
          <h4>
            <%='Reserved items' %>
          </h4>
          <table class="table table-md table-striped table-hover  table-bordered ">
            <thead>
              <tr>
                <th scope="col" name="reserved_row">#</th>
                <th scope="col">School</th>
                <th scope="col">Type</th>
                <th scope="col">Size</th>
                <th scope="col">Status</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <%for (let i=0; i< data.length; i+=1) {%>
                <form action="/reserved_collected" method="POST">
                  <%if (data[i].status==='reserved' ) {%>
                    <tr>
                      <th scope="row">
                        <%=i+1%>
                      </th>
                      <td>

                        <input type="hidden" value="<%=data[i].school_name%>" name="schoolName" />
                        <%=data[i].school_name%>
                      </td>
                      <td>
                        <input type="hidden" value="<%=data[i].type%>" name="type" />
                        <%=data[i].type%>
                      </td>
                      <td>
                        <input type="hidden" value="<%=data[i].size%>" name="size" />
                        <%=data[i].size%>
                      </td>
                      <td>
                        <input type="hidden" value="<%=data[i].status%>" name="status" />
                        <%=data[i].status%>
                      </td>
                      <td>
                        <input type="hidden" value=<%=data[i].count%> name="quantity"/>
                        <%=data[i].count%>
                      </td>
                      <td>
                        <input type="hidden" value="<%=data[i].date%>" name="date" />
                        <%=data[i].date.toString().substring(0,15)%>
                      </td>
                      <td>
                        <% let given_id=`given ${i}` %>

                          <input type="submit" value="Given" id=<%=given_id %> class="btn btn-warning"/>

                      </td>
                    </tr>
                    <% }; %>
                               </form>
                      <% }; %>
     
            </tbody>
          </table>
        </div>

        <div class="col-sm-8" style="padding-bottom: 30px;">
          <h4>
            <%='Given items' %>
          </h4>
          <table class="table table-md table-striped table-hover  table-bordered ">
            <thead>
              <tr>
                <th scope="col" name="collected_row">#</th>
                <th scope="col">School</th>
                <th scope="col">Type</th>
                <th scope="col">Size</th>
                <th scope="col">Status</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <%for (let i=0; i< data.length; i+=1) {%>
                <%if (data[i].status==='collected' ) {%>
                  <tr>
                    <th scope="row">
                      <%=i+1%>
                    </th>
                    <td>
                      <%=data[i].school_name%>
                    </td>
                    <td>
                      <%=data[i].type%>
                    </td>
                    <td>
                      <%=data[i].size%>
                    </td>
                    <td>
                      <%=data[i].status%>
                    </td>
                    <td>
                      <%=data[i].count%>
                    </td>
                    <td>
                      <%=data[i].date.toString().substring(0,15)%>
                    </td>
                  </tr>
                  <% }; %>
                    <% }; %>
            </tbody>
          </table>
        </div>

        <div class="col-sm-8" style="padding-bottom: 30px;">
          <h4>
            <%='Available items' %>
          </h4>
          <table class="table table-md table-striped table-hover  table-bordered ">
            <thead>
              <tr>
                <th scope="col" name="available_row">#</th>
                <th scope="col">School</th>
                <th scope="col">Type</th>
                <th scope="col">Size</th>
                <th scope="col">Status</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>

              </tr>
            </thead>
            <tbody>
              <%for (let i=0; i< data.length; i+=1) {%>
                <form action="/my_donations_available/<%=i%>/edit" method="POST">
                  <%if (data[i].status==='available' ) {%>
                    <tr>
                      <th scope="row">
                        <%=i+1%>
                      </th>
                      <td>
                        <input type="hidden" value="<%=data[i].school_name%>" name="schoolName" />
                        <%=data[i].school_name%>
                      </td>
                      <td>
                        <input type="hidden" value="<%=data[i].type%>" name="type" />
                        <%=data[i].type%>
                      </td>
                      <td>
                        <input type="hidden" value="<%=data[i].size%>" name="size" />
                        <%=data[i].size%>
                      </td>
                      <td>
                        <input type="hidden" value="<%=data[i].status%>" name="status" />
                        <%=data[i].status%>
                      </td>
                      <td>
                        <input type="hidden" value=<%=data[i].count%> name="quantity"/>
                        <%=data[i].count%>
                      </td>
                      <td>
                        <input type="hidden" value="<%=data[i].date%>" name="date" />
                        <%=data[i].date.toString().substring(0,15)%>
                      </td>
                      <td>
                        <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons"> -->
                        <% let details_id=`details_${i}` %>

                          <!-- <input type="hidden" value="123xxx" name="sdadsadaas"/> -->

                          <input type="submit" value="Details" id=<%=details_id%> class="btn btn-primary"/>
                </form>


                <!-- </div> -->
                </td>
                </tr>
                <% }; %>
                  <% }; %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</body>

</html>